soap/todo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TodoService"
   targetNamespace="http://www.example.org/TodoService/"
   xmlns="http://schemas.xmlsoap.org/wsdl/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:tns="http://www.example.org/TodoService/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema">

   <!-- Define messages for each operation - Create, Read -->
   <message name="createTodoRequest">
      <part name="todo" type="xsd:string"/>
   </message>
   <message name="createTodoResponse">
      <part name="result" type="xsd:string"/>
   </message>

   <message name="readTodoRequest">
      <part name="id" type="xsd:int"/>
   </message>
   <message name="readTodoResponse">
      <part name="result" type="xsd:string"/>
   </message>

   <message name="read100TodosRequest">
   </message>
   <message name="read100TodosResponse">
      <part name="results" type="tns:TodoArray"/>
   </message>


   <!-- Define portType with operations -->
   <portType name="TodoPortType">
      <operation name="createTodo">
         <input message="tns:createTodoRequest"/>
         <output message="tns:createTodoResponse"/>
      </operation>
      <operation name="readTodo">
         <input message="tns:readTodoRequest"/>
         <output message="tns:readTodoResponse"/>
      </operation>
      <operation name="read100Todos">
         <input message="tns:read100TodosRequest"/>
         <output message="tns:read100TodosResponse"/>
      </operation>
   </portType>

   <!-- Define binding for the operations -->
   <binding name="TodoBinding" type="tns:TodoPortType">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <operation name="createTodo">
         <soap:operation soapAction="http://www.example.org/TodoService/createTodo"/>
         <input>
            <soap:body use="encoded" namespace="http://www.example.org/TodoService/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="http://www.example.org/TodoService/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>

      <!-- SOAP operation definition for readTodo -->
   <operation name="readTodo">
      <soap:operation soapAction="http://www.example.org/TodoService/readTodo"/>
      <input>
         <soap:body use="encoded" namespace="http://www.example.org/TodoService/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
         <soap:body use="encoded" namespace="http://www.example.org/TodoService/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
   </operation>

   <operation name="read100Todos">
      <soap:operation soapAction="http://www.example.org/TodoService/read100Todos"/>
      <input>
         <soap:body use="encoded" namespace="http://www.example.org/TodoService/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
         <soap:body use="encoded" namespace="http://www.example.org/TodoService/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
   </operation>

   </binding>

   <service name="TodoService">
      <documentation>SOAP Service for managing ToDo tasks</documentation>
      <port name="TodoPort" binding="tns:TodoBinding">
         <soap:address location="http://localhost:3000/todo"/>
      </port>
   </service>

</definitions>
